<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
	<title>Train Issues</title>
</head>

<body>
	<section  id="delays">
		<h1>Delays</h1>
		<form id="delayForm">
			<h2>Add issue</h2>
			<label>Begin station:</label>
				<input id="start-station" list="start-stations" required>
				<datalist id="start-stations">
 				<% for (i = 0; i < stations.length; i++) { %>
 					<option value="<%= stations[i]%>">
 				<% } %>
 				</datalist>

 			<label>Eind station:</label>
				<input id="end-station" list="end-stations" required>
				<datalist id="end-stations">
 				<% for (i = 0; i < stations.length; i++) { %>
 					<option value="<%= stations[i]%>">
 				<% } %>
 				</datalist>

			
			<label>Reason</label>
			<textarea id="delayReason" type="text" placeholder="Example: The train just killed a bird, now we're stuck.." required></textarea>
			<input type="submit" value="Submit issue">
		</form>
			
		<div>
			<span class="users">user added delays</span>
			<span class="ns">ns added delays</span>
		</div>
		<% for (i = 0; i < messages.length; i++) { %>
			<article class="user-delays">
				<h2><%= messages[i].startStation + "-" + messages[i].endStation%></h2>
				<p><%= messages[i].time%></p>
				<p><%= messages[i].reason%></p>
			</article>
		<% } %>

		<% for (i = 0; i < data.Ongepland.length; i++) { %>
			<article class="ns-delays">
				<h2><%= data.Ongepland[i].Traject%></h2>
				<p><%=  data.Ongepland[i].Reden%></p>
				<p><%= data.Ongepland[i].Bericht%></p>
				<p><%= data.Ongepland[i].Datum%></p>
			</article>
		<% } %>
	</section>

	<footer id="serverOffline">
	</footer>

<script src="/socket.io/socket.io.js"></script>	
<script src="../js/socket-io.js"></script>

</body>
</html>
